<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
   div {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        width: 100%;
        border: 2px dashed #f69c55;
      }
    </style>
</head>
<body>
   
      <div>
        <span><H1>System  : {{os}}</H1> </span>
        <span><H1>Name    : {{name}}</H1></span>
        <span><H1>RELEASE : {{release}}</H1></span>
        <span><H1>VERSION : {{version}}</H1></span>
        <span><H1>MACHINE : {{machine}}</H1></span>

      </div>
</body>
</html>